body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
}


.header-section{
    width: 100%;
    height: 400px;
    background-image: url(Images/AboutUsImages/aboutBanner.jpg);
    background-size: cover;
    background-position: 0 -500px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.header-section::after{
    content: "";
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 91, 128));
    filter: opacity(70%);
    z-index: 3;
    width: 100%;
    height: 400px;
}

.header-title{
    position: absolute;
    font-size: 50px;
    color: white;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.content-section{
    width: 100%;
    height: max-content;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.content-box{
    background-color: transparent;
    width: 70%;
    margin-right: 30px;
    margin-bottom: 100px;
    margin-top: 20px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.content-box-title{
    margin: auto;
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 40px;
    color: rgb(0, 118, 164);
    
}

.content-box-container{
    margin: auto;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 0;
}

.content-box-subtitle{
    font-size: 28px;
    color: black;
    z-index: 1;
}

.content-box-subtitle-hr{
    width: 300px;
    height: 5px;
    margin-left: 0;
    z-index: 4;
    background-color: rgb(0, 118, 164);
    border-style: none;
}

.content-box-paragraph{
    font-size: 24px;
}

.content-award{
    display: flex;
    flex-direction: row-reverse;
}


.content-award img{
    width: 30%;
    margin: auto;
    margin-left: 0;
    box-shadow: 0px 0px 20px rgb(0, 118, 164);
    border-radius: 20px;
}

.content-gallery-image{
    width: 30%;
    margin: auto;
    margin-left: 0;
    margin-bottom: 10;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 0px 0px rgb(0, 118, 164);
    border-radius: 20px;
    transition: 0.4s;
}

.content-gallery-image:hover{
    box-shadow: 0px 4px 20px rgb(0, 118, 164);
    margin-bottom: 20px;
}

.content-box-paragraph{
    font-size: 24px;
    margin-left: 30px;
}


.content-card-bar-paragraph{
    color: rgb(27, 27, 27);
    font-size: 22px;
    margin-left: 20px;
}

.userPhoto{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 118, 164);
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 200px;
}

li{
    color: rgb(34, 34, 34);
    font-size: 24px;
    font-weight: 400;
}

.aside-dive{
    height: 100%;
}

aside{
    width: 300px;
    padding: 30px;
    padding-top: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 600px;
    background-color: rgb(0, 118, 164);
    box-shadow: 0px 6px 8px rgb(0, 118, 164);
    border-radius: 20px;
    margin-right: 20px;
    color: white;
}

.aside-container{
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
    width: 100%;
    height: max-content;
    margin-top: 10px;
}

.aside-links{
    text-decoration: none;
    color: white;
    width: 300px;
    height: 100%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: max-content;
    transition: 0.3s;
}

.aside-links:hover{
    font-weight: bold;
}

.aside-horizontal{
    width: 200px;
}




form{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.admin-adder{
    width: 50%;
    font-size: 1.5rem;
}

.admin-adder button{
    width: 40%;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgb(0, 118, 164);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}
.admin-adder button:hover{
    color: rgb(0, 118, 164);
    background-color: white;
    border-color: rgb(0, 118, 164);
}


label{
    margin: auto;
}

select{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 118, 164);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    transition: 0.3s;
}

input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 118, 164);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    transition: 0.3s;
}

input:focus{
    border: rgb(137, 222, 255);
    border-radius: 30px;
}

table{
    width: 100%;
    font-size: 23px;
    margin: auto;
    text-align: right;
}

.name-cell{
    width: 160px;
}


.submit-btn{
    width: 220px;
    height: 60px;
    font-size: 25px;
    background-color: rgb(0, 118, 164);
    color: white;
}

.submit-btn:hover{
    border-radius: 30px;
    border-style: dashed;
    border-width: 3px;
    border-color: rgb(0, 118, 164);
    background-color: transparent;
    font-weight: bold;
    color: rgb(0, 118, 164);
}

.remove-button{
    font-size: 25px;
    background-color: rgb(0, 118, 164);
    color: white;
}

.remove-button:hover{
    border-radius: 30px;
    border-style: dashed;
    border-width: 3px;
    border-color: rgb(0, 118, 164);
    background-color: transparent;
    font-weight: bold;
    color: rgb(0, 118, 164);
}

.career-table{
    border: 3px solid rgb(0, 118, 164);
    text-align: left;
    border-radius: 10px;
    padding: 10px;
}

.career-table td{
    border-bottom: 4px solid rgb(0, 118, 164);
    border-radius: 10px;
    padding: 8px;
    margin: 0ch;
}

