p {
    text-align: center; 
    font-style: italic; 
    font-size: 2em; 
    margin: 20px 0; 
}

#VolunteersTable {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    border: 2px solid black; 
}

#VolunteersTable th, #VolunteersTable td {
    border: 1px solid black; 
    padding: 8px;
    text-align: left;
    background-color: skyblue; 
}

#VolunteersTable th {
    background-color: lightblue; 
    font-weight: bold;
}

form {
    border: 2px solid black; 
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    background-color: white; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
}

form input[type="text"],
form input[type="date"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: turquoise; 
    border: 1px solid black; 
    border-radius: 4px; 
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: black; 
}


form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: lightblue; 
    border: 1px solid black; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

form button:hover {
    background-color: deepskyblue; 
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(120deg, aqua, #C0C0C0);
    background-attachment: fixed;
    background-size: cover;
    color: #333;
}
