body {
    background-color: white; 
    font-family: sans-serif;
}

#title {
    color: rgb(60, 37, 118);
    text-align: center;
    font-size: 35px;
    font-style: italic;
    margin-top: 70px;
}
p {
    color:navy;
    font-family: sans-serif;
}
table {
    width: 500px;
    border-radius: 0.5625rem;
    -webkit-border-radius: 0.5625rem;
    -moz-border-radius: 0.5625rem;
    -ms-border-radius: 0.5625rem;
    -o-border-radius: 0.5625rem;
}
table td {
    background-color: lightblue;
    padding: 10px;
    border-radius: 0.5625rem;
    -webkit-border-radius: 0.5625rem;
    -moz-border-radius: 0.5625rem;
    -ms-border-radius: 0.5625rem;
    -o-border-radius: 0.5625rem;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(120deg, rgba(4, 196, 68, 0.725), #0059ffb7);
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    border-radius: 0.5625rem;
    -webkit-border-radius: 0.5625rem;
    -moz-border-radius: 0.5625rem;
    -ms-border-radius: 0.5625rem;
    -o-border-radius: 0.5625rem;
}


.td_names{
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    border-radius: 0.5625rem;
    -webkit-border-radius: 0.5625rem;
    -moz-border-radius: 0.5625rem;
    -ms-border-radius: 0.5625rem;
    -o-border-radius: 0.5625rem;
}

.inputs{
    font-size: 1.0rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}